<div class="col-lg-8 mx-auto p-3 py-md-5">
    <main>
        <h1>Modal for Angular</h1>
        <p class="fs-5 col-md-8">A simple solution for displaying modal windows in Angular.</p>

        <div class="mb-5">
            <a (click)="openModal()" class="btn btn-primary px-4">Open modal</a>
        </div>

        <p>Quick start:</p>

        <pre>npm install ngx-azh-modal --save</pre>

        <p>Doc:</p>
        <a href="https://www.npmjs.com/package/ngx-azh-modal" target="_blank">https://www.npmjs.com/package/ngx-azh-modal</a>

        <hr class="col-3 col-md-2 my-5">

        <h1>Notification for Angular</h1>
        <p class="fs-5 col-md-8">A simple solution for displaying notifications in Angular.</p>

        <div class="mb-5">
            <a (click)="createDanger()" class="btn btn-danger px-4 me-2">Danger</a>
            <a (click)="createWarning()" class="btn btn-warning px-4 me-2">Warning</a>
            <a (click)="createInfo()" class="btn btn-primary px-4">Info</a>
        </div>

        <p>Quick start:</p>

        <pre>npm install ngx-azh-notify --save</pre>

        <p>Doc:</p>
        <a href="https://www.npmjs.com/package/ngx-azh-notify" target="_blank">https://www.npmjs.com/package/ngx-azh-notify</a>

    </main>
</div>

<ngx-azh-notify-placement></ngx-azh-notify-placement>
<ngx-azh-modal-placement></ngx-azh-modal-placement>
